[submodule ".registry"]
	path = .registry
	url = https://github.com/seasadjwg/seasadjwg.r-universe.dev
	branch = HEAD
[submodule "SAvalidation"]
	path = SAvalidation
	url = https://github.com/SeasAdjwG/SAvalidation
